@media (max-width: 1400px) {
  .header__title {
    font-size: 6rem;
  }

  .header__text {
    font-size: 3.5rem;
    padding-top: 5rem;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 5rem;
  }

  .header__text {
    font-size: 3.2rem;
    padding-top: 4rem;
  }

  .social__img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .header__title {
    font-size: 4rem;
  }

  .header__text {
    font-size: 2.8rem;
    padding-top: 3rem;
  }

  .navigation__link--logo {
    margin-bottom: 20px;
  }

  .social__img {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 576px) {
  .header__title {
    font-size: 4rem;
    padding-bottom: 50px;
  }

  .header__text {
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }

  .navigation__link--logo {
    margin-bottom: 0px;
  }

  nav {
    flex-direction: column;
  }

  .navigation__link--menu {
    padding-top: 10px;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .mob-nav {
    display: none !important;
  }

  .navigation-mob {
    border: 2px solid #fff;
    background-color: rgb(221, 137, 133);
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 460px) {
  .header__title {
    font-size: 3rem;
    padding-bottom: 50px;
  }
}

@media (max-width: 350px) {
  .right-description__button {
    width: 110px;
  }

  .left-description__text {
    font-size: 12px;
  }

  .service__title {
    font-size: 27px;
  }

  .team__title {
    font-size: 27px;
  }
}

@media (max-width: 575px) {
  .service-item__title {
    text-align: center;
    padding-top: 10px;
  }

  .service-item__text {
    text-align: center;
  }

  .service-item {
    padding-top: 0px;
  }

  .service-item__icon {
    margin-top: 30px;
  }
}
