<!DOCTYPE html>
<nav class="col-lg-6 col-md-8 d-flex justify-content-between align-items-center">
        <a href="#" class="navigation__link navigation__link--menu">about</a>
        <a href="#" class="navigation__link navigation__link--menu">service</a>
        <a href="#" class="navigation__link navigation__link--menu">work</a>
        <a href="#" class="navigation__link navigation__link--menu">blog</a>
        <a href="#" class="navigation__link navigation__link--menu">contact</a>
        <a href="#" class="navigation__link navigation__link--menu">
          <svg class="navigation__basket-icon">
            <use href="img/basket-icon.svg#basket-icon"></use>
          </svg>
        </a>
        <a href="#" class="navigation__link navigation__link--menu">
          <svg class="navigation__glass-icon">
            <use href="img/glas-icon.svg#glass-icon"></use>
          </svg>
        </a>
      </nav>